{% extends 'base.html.twig' %}

{% block title %}
    <title>Bookings Application</title>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" media="screen" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/base.css">
{% endblock %}

{% block body %}
    {{ include('header.html.twig') }}
    <div class="content">
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>
    {{ include('footer.html.twig') }}
{% endblock %}